﻿@model dynamic
@{
    ViewData["Title"] = "Admin Dashboard";
    List<Order> orders = Model.orders as List<Order>;
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h4>Dashboard</h4>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.dashboard.Orders</h3>
                        <p>Total Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-controller="Orders" asp-action="Index" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.dashboard.Users</h3>
                        <p>Total Users</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a asp-controller="Account" asp-action="Users" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.dashboard.Cinemas</h3>
                        <p>Total Cinemas</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-videocamera"></i>
                    </div>
                    <a asp-controller="Cinemas" asp-action="Index" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Model.dashboard.Available_Movies</h3>
                        <p>Available Movies</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-easel"></i>
                    </div>
                    <a asp-controller="Movies" asp-action="AvailableMovies" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="card col-md-6">
                <div class="card-body p-0">
                    <section class="col-md-12">
                        <canvas id="salesPerDayChart" width="400" height="200"></canvas>
                    </section>
                </div>
            </div>
            <div class="card col-md-6">
                <div class="card-body p-0">
                    <section class="col-md-12">
                        <canvas id="totalSalesPerDayChart" width="400" height="200"></canvas>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-12">
                <div class="card-body">
                    @await Html.PartialAsync("~/Views/Orders/Index.cshtml", orders)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/DashboardJS.js" asp-append-version="true"></script>
}